* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(50deg,#043414, #b6b5b4);
}

.container {
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: transparent;
}

.container h2 {
    color: black;
}

input {
    width: 380px;
    margin: 10px;
    padding: 20px;
    background: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 15px;
}

input::placeholder {
    color: black;
    
}

.check a {
    color: rgb(60, 60, 214);
    font-size: 18px;
    padding: 10px;
    transition: color 0.2s ease-in-out;
}
.check a:hover {
    color: white;
}

button {
    width: 90%;
    height: 50px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    background: #000;
    color: white;
    transition: background-color 0.2s ease-in-out; 
}

button:hover {
    background-color: transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
    padding: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* media query */

@media (max-width: 768px) {
    .container {
        width: 60%;
        height: auto;
        padding: 20px;
    }

    input {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    input {
        width: 100%;
        padding: 12px;
    }

    button {
        width: 100%;
        height: 45px;
    }

    .check a {
        font-size: 16px;
    }
}